@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pinewood Sample Application.</p>
    <h3>Customers</h3>
    <p><a href="/customer" class="fw-bolder">Click Here</a> to perform Add, Edit, Delete on Customers</p>
</div>
